@page "/counter/{valorInicialParameter?}"
@inject ILogger<Counter> logger;
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    [Parameter]
    public string? valorInicialParameter { get; set; }
    [SupplyParameterFromQuery]
    [Parameter]
    public string? valorInicialPorUrl{ get; set; }
    protected override void OnParametersSet()
    {
        currentCount = valorInicialParameter != null ? int.Parse(valorInicialParameter) : 0;
        currentCount = currentCount == 0 && valorInicialPorUrl != null ? int.Parse(valorInicialPorUrl) : currentCount;
        logger.LogInformation("se recivieron parametros");
    }
    protected override void OnInitialized()
    {
        logger.LogInformation("se inicio parametros");
    }
    protected override void OnAfterRender(bool firstRender)
    {
        logger.LogInformation("se renderizo parametros");
    }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<string>(nameof(valorInicialParameter), out var value))
        {
            if (value is not null)
                valorInicialParameter = value;
        }
        await base.SetParametersAsync(parameters);
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
