@page "/peliculas"
@inject HttpClient Http

<PageTitle>peliculas</PageTitle>

<h1>Peliculas</h1>

<p>Los mejores estrenos del momento</p>

@if (pelis == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Genero</th>
                <th>Duracion</th>
                <th>Sinopsis</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var peli in pelis)
            {
                <tr>
                    <th>@peli.Nombre</th>
                    <th>@peli.Genero</th>
                    <th>@peli.Duracion</th>
                    <th>@peli.Sinopsis</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Pelicula[]? pelis;

    protected override async Task OnInitializedAsync()
    {
        pelis = await Http.GetFromJsonAsync<Pelicula[]>("https://pelicilas-6c3b.restdb.io/rest/pelis?apikey=6467b0bb0b60fc42f4e197fe");
    }
    
    public class Pelicula
    {
       
        public int _Id { get; set; } 
        public string Nombre { get; set; } = string.Empty;
        public string Genero { get; set; } = string.Empty;
        public string Duracion { get; set; } = string.Empty;
        public string Trailer_url { get; set; } = string.Empty;
        public string Sinopsis { get; set; } = string.Empty;
        public string Portada_url { get; set; } = string.Empty;
    };
}
